/* styles.css */

body {
  margin: 0;
  padding: 0;
}
.hsuperior {
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-evenly;
  height: 140px; }
  .hsuperior .tarjeta {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 50%;
    height: 140px; }
    .hsuperior .tarjeta .logo {
      width: 140px;
      height: 140px; }
    .hsuperior .tarjeta .nombre {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      align-items: center;
      font-family: 'Times New Roman', Times, serif;
    }
      .hsuperior .tarjeta .nombre h1 {
        color: white; }
      .hsuperior .tarjeta .nombre h6 {
        color: white; }
  .hsuperior .navbar {
    background-color: black; }
    .hsuperior .navbar .navbar-nav {
      background-color: black; }
      .hsuperior .navbar .navbar-nav .nav-link {
        color: white; }
@media (max-width: 480px){
  .hsuperior .tarjeta .logo{
    width: 120px;
    height: 120px;
  }
  .hsuperior .tarjeta .nombre{
    display: none;
  }
}



.slider-container {
  position: relative;
  max-width: 600px; /* Adjust the desired maximum width */
  margin: 0 auto; /* Center the slider horizontally */
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: none;
}

.slider img:first-child {
  display: block;
}

.slider-indicators {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator {
  cursor: pointer;
  font-size: 10px;
  margin: 0 5px;
}

.slider-nav-left,
.slider-nav-right {
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-nav-left {
  left: 10px;
}

.slider-nav-right {
  right: 10px;
}

/* Optional styling for Font Awesome icons */
.slider-nav-left:hover,
.slider-nav-right:hover,
.indicator:hover {
  color: #008080; /* Change color on hover */
}

footer {
  justify-content: center;
  background-color: black; }
  footer .link-rapidos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .link-rapidos h5 {
      text-decoration: underline;
      color: white; }
    footer .link-rapidos .rapidos {
      text-decoration: none;
      color: white; } 