.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999; }

.whatsapp-button img {
  width: 60px;
  height: 60px; }

  @media (max-width: 480px){
    .whatsapp-button{
      display: none;
    }
  }

.hsuperior {
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-evenly;
  height: 140px; }
  .hsuperior .tarjeta {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 50%;
    height: 140px; }
    .hsuperior .tarjeta .logo {
      width: 140px;
      height: 140px; }
    .hsuperior .tarjeta .nombre {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      align-items: center;
      font-family: 'Times New Roman', Times, serif;
    }
      .hsuperior .tarjeta .nombre h1 {
        color: white; }
      .hsuperior .tarjeta .nombre h6 {
        color: white; }
  .hsuperior .navbar {
    background-color: black; }
    .hsuperior .navbar .navbar-nav {
      background-color: black; }
      .hsuperior .navbar .navbar-nav .nav-link {
        color: white; }
@media (max-width: 480px){
  .hsuperior .tarjeta .logo{
    width: 120px;
    height: 120px;
  }
  .hsuperior .tarjeta .nombre{
    display: none;
  }
}


.hinferior {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .hinferior nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .hinferior nav ul li {
      padding: .5rem;
      list-style-type: none; }
      .hinferior nav ul li a {
        text-decoration: none;
        color: white; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: whitesmoke; }
  main .slide {
    width: 99%; }
  main .propiedades {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    main .propiedades .nombre {
      background-color: red; }
    main .propiedades .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly; }
      main .propiedades .container .square {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;
        height: 100%;
        width: 100%;
         }
        main .propiedades .container .square .square_descripcion {
          display: flex;
          flex-direction: column; }
          main .propiedades .container .square .square_descripcion a {
            text-decoration: none;
            color: black; }
  .item:hover{
    transform: 0.3s;
    transform: scale(1.1);
  }
  main .verMas-button {
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    background-color: 0; }
  main .contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    main .contactanos h4 {
      background-color: red; }
    main .contactanos a {
      text-decoration: none;
      color: black; }
  main iframe {
    padding: 2rem;
    height: 250px;
    width: 80%; }

footer {
  justify-content: center;
  background-color: black; }
  footer .link-rapidos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .link-rapidos h5 {
      text-decoration: underline;
      color: white; }
    footer .link-rapidos .rapidos {
      text-decoration: none;
      color: white; }
